{% load static %}
   <header>
<!--
    <nav class="navbar navbar-light bg-light logo">
     <a href="/" class="navbar-brand"><img src="{% static 'img/logo.png' %}" alt=""></a>
      <a class="nav-link active" href="/load">Завантажити Exel файл</a>
      <a class="nav-link" href="/admin">Панель адміністратора</a>
</nav>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav text-right">
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/load">Завантажити Exel файл</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin">Панель адміністратора</a>
      </li>
      {% endif %}
      {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Вихід</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Вхід</a>
      </li>
      {% endif %}



    </ul>
  </div>
</nav>
</header>
